# NPM modules
node_modules/

# Directory with compiled files
dist/
build/

# Files with credentials
config.json
googleAssistantCredentials.json
googleAssistantTokens.json
youtube.cookies

# Files associated with Google Assistant SDK experimenting
test_device.json
device_model.json

# Google Assistant usage audio logs
galogs/*.raw

# Performance tester
.clinic/

# Cache
cache/
.shat