# NPM modules
node_modules/

# Directories with compiled files
dist/
build/

# Files with credentials
configs/json/*.json
!configs/json/*.example.json
configs/binary/*.pem
configs/binary/*.bin
cookies/*.txt
.env

# Performance tester
.clinic/

# Cache
cache/
.shat

# Development files
dev.sqlite3
crash.*.log

knexfile.ts

ag.txt