# NPM modules
node_modules/

# Directories with compiled files
dist/
build/

# Files with credentials
config.json
googleAssistantCredentials.json
googleAssistantTokens.json
youtube.cookies

# Performance tester
.clinic/

# Cache
cache/
.shat

# Development files
dev.sqlite3
crash.*.log